
.venv
todolist_core/dbsqlite3/
todolist_core/.coverage/
todolist_core/celerybeat-schedule/
.idea
htmlcov
__pycache__
todolist_core/.env/
todolist_core/todolist_core/.env/
todolist_core/todolist/__pycache__/
todolist_core/todolist/migrations/
todolist_core/todolist/__init__.py/
todolist_core/todolist_core/__pycache__/
todolist_core/todolist_core/migrations/
todolist_core/todolist_core/__init__.py/
todolist_core/users/__init__.py/
todolist_core/users/migrations/

